@page :left { /* left page setup */
  @bottom-left { /* verso running footer */
    content: counter(page);
  }
}

@page :right { /* right page setup */
  @bottom-right { /* recto running footer */
    content: counter(page);
  }
}

p {
  text-align: justify;
}

a.xref:after {
  content: " (page " target-counter(attr(href url), page) ")";
}

.section-image-ctn {
  text-align: center;
}

.section-image {
  width: 80%;
}

.end-block {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.options-block {
  border-top: solid 1px;
  text-align: right;
}

.option-text {
  font-style: italic;
}